<section class="container">

    <app-header />
    
    <section>
        <ul class="button-list">
            @for (button of shortButtons; track $index) {
                <li>
                    <button [class.active-category]="button.category === selectedCategory" (click)="shortList(button.category!)">{{ button.name }}</button>
                </li>
            }
        </ul>
    </section>
    @if (selectedCategory) {
        <section class="filter-box">
            Filtered by: 
            <span class="filter-result">
                <svg (click)="shortList('')" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>{{ selectedCategory | titlecase }}
            </span>
        </section>
    }
    @else {
        <section class="filter-box"></section>
    }
    @if (fetching) { <div class="spinner-border" role="status"></div> }    
    <section class="row">
        @for (product of shortList(selectedCategory); track $index) {
            <div class="col-12 col-lg-6 d-flex justify-content-center">
                <app-product [product]="product" />
            </div>
        }
    </section>
</section>
