
$btn-default: rgb(106, 106, 106);
$btn-hover: rgb(72, 72, 72);

%active-category {
    color: $btn-hover !important;
    border: 1px solid transparent !important;
    box-shadow: 3px 3px 12px rgba(121, 121, 121, 0.6);
}

.button-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px 0;
    width: 100%;
    @media screen and (max-width: 769px) {
        flex-direction: column;
    }
    & button {
        background-color: transparent;
        color: $btn-default;
        border: 1px solid $btn-default;
        padding: 4px 17px;
        margin: 0 10px 15px 0;
        border-radius: 50px;
    }
}

.bi-x {
    cursor: pointer;
    border: 1px solid $btn-default;
    border-radius: 50px;
    margin: 0 9px 2px 0;
    color: rgb(228, 79, 79);
}

.button-list button,
.bi-x {
    transition: all 0.2s ease-in-out;
    &:hover {
        @extend %active-category;
    }
}

.filter-result {
    background-color: transparent;
    margin: 0 0 0 13px;
    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
        text-decoration-color: grey;
    }
}

.active-category {
    @extend %active-category;
}

.filter-box {
    min-height: 30px;
}